body {
  color: #333; }

h2, h3, h4, h5, h6, table, p, ol, ul, dl {
  margin-bottom: 20px; }

h2 {
  background-color: #276989;
  color: #fff;
  font-size: 24px;
  padding: 5px 15px; }

h3 {
  background-color: #eee;
  padding: 5px 15px; }

h4 {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px; }

#container {
  background-color: #bf0a19; }

.sidebar-widget {
  background-color: #fff;
  border: 8px solid #c25858;
  padding: 20px; }
  .sidebar-widget a {
    color: #666; }
  .sidebar-widget__title {
    background-color: transparent;
    padding: 0; }

.sidebar .widget_recent_entries ul,
.sidebar .widget_recent_comments ul,
.sidebar .widget_archive ul,
.sidebar .widget_categories ul,
.sidebar .widget_meta ul,
.sidebar .widget_pages ul,
.sidebar .widget_nav_menu ul {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .sidebar .widget_recent_entries ul li,
  .sidebar .widget_recent_comments ul li,
  .sidebar .widget_archive ul li,
  .sidebar .widget_categories ul li,
  .sidebar .widget_meta ul li,
  .sidebar .widget_pages ul li,
  .sidebar .widget_nav_menu ul li {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px; }
    .sidebar .widget_recent_entries ul li:first-child,
    .sidebar .widget_recent_comments ul li:first-child,
    .sidebar .widget_archive ul li:first-child,
    .sidebar .widget_categories ul li:first-child,
    .sidebar .widget_meta ul li:first-child,
    .sidebar .widget_pages ul li:first-child,
    .sidebar .widget_nav_menu ul li:first-child {
      border-top: none; }
  .sidebar .widget_recent_entries ul ul,
  .sidebar .widget_recent_comments ul ul,
  .sidebar .widget_archive ul ul,
  .sidebar .widget_categories ul ul,
  .sidebar .widget_meta ul ul,
  .sidebar .widget_pages ul ul,
  .sidebar .widget_nav_menu ul ul {
    border-bottom: none;
    margin-bottom: -5px; }

/**
 * .footer-widget-area
 */
.footer-widget-area {
  padding-top: 40px; }

/**
 * .footer-widget
 */
.footer-widget__title {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  padding: 0 0 5px; }

#comments h2,
#trackback h2 {
  color: #fff; }

.entries .article {
  background-color: #fff;
  border: 8px solid #c25858;
  padding: 20px; }
  @media (min-width: 992px) {
    .entries .article {
      padding: 30px; } }

.entries .entry-meta {
  margin-bottom: 0; }

.page-header {
  border-top: none;
  border-bottom: none;
  margin-bottom: 0; }

.breadcrumbs {
  background-color: #fff;
  border: 8px solid #c25858;
  padding: 10px 20px; }
  @media (min-width: 992px) {
    .breadcrumbs {
      padding: 10px 30px; } }

.entry-meta {
  color: #666; }
  .entry-meta a {
    color: #999; }

.article--single,
.article--page,
.article--404 {
  background-color: #fff;
  border: 8px solid #c25858;
  padding: 20px; }
  @media (min-width: 992px) {
    .article--single,
    .article--page,
    .article--404 {
      padding: 30px; } }

.page-template-front-page .article--page,
.page-template-rich-front-page .article--page {
  border: none;
  padding: 0; }

.related-posts__title {
  color: #fff; }

.entries--related-posts .article--summary {
  background-color: transparent;
  border: none;
  padding: 0; }
