/**
 * .entries
 */
.entries {
	.hentry {
		background-color: #fff;
		border: 8px solid #c25858;
		padding: 20px;

		@media ( min-width: 992px ) {
			padding: 30px;
		}
		
		.entry-meta {
			margin-bottom: 0;
		}

		.summary-with-thumbnail {
			overflow: hidden;
			&-thumbnail {
				margin-right: 20px;
				width: 80px;
				a {
					border-radius: 0;
					height: auto;
					min-height: 60px;
					width: auto;

					#main &.no-thumbnail {
						background-color: #eee;
					}

					.no-thumbnail-text {
						display: none;
					}
				}

				@media ( min-width: 768px ) {
					width: 150px;
					a {
						min-height: 100px;
					}
				}
			}
		}
	}
}
