/**
 * .footer-widget-area
 */
.footer-widget-area {
	padding-top: 40px;
}

/**
 * .footer-widget
 */
.footer-widget {
	&__title {
		background-color: transparent;
		border-bottom: 1px solid #fff;
		color: #fff;
		border-radius: 0;
		padding: 0 0 5px;
	}
}
