.sidebar-widget {
	background-color: #fff;
	border: 8px solid #c25858;
	padding: 20px;
	
	a {
		color: #666;
	}
	
	&__title {
		background-color: transparent;
		padding: 0;
	}
}

.sidebar {
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_pages,
	.widget_nav_menu {
		ul {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			
			li {
				border-top: 1px solid #ddd;
				padding-top: 5px;
				padding-bottom: 5px;
				
				&:first-child {
					border-top: none;
				}
			}
			
			ul {
				border-bottom: none;
				margin-bottom: -5px;
			}
		}
	}
}
